*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.heading{
    color: blue;
    text-align: center;
    background-color: bisque;
    padding: 20px 30px 40px 60px;
    border: solid 2px;
    width: 300px;
    margin: 0 auto;
}

#para{
    background-color: black;
    color: white;
    border: 5px solid red;
    height: 80px;
    padding: 5px;

}
